useDynLib(luna, .registration = TRUE)
import(terra, methods, Rcpp)
export("getProducts", "productInfo", "getNASA", "getAVHRR", "getLandsat", "fillVI", "filterVI", "modisDate", "modisExtent")
exportMethods("mesma", "panSharpen")

